# setuptools-scm includes all tracked files by default in sdist

# exclude docs as it contains large files
prune docs

# exclude unnecessary configs
exclude .pre-commit-config.yaml .readthedocs.yaml .yamlfmt.yaml
prune .github

# exclude example data
prune data
